= form_for sheet, html: { class: 'sheet-form' } do |f|
  - if sheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(sheet.errors.count, "error")} prohibited this sheet from being saved:"
      %ul
        - sheet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :original_code
    = f.text_area :original_code, class: 'sheet-form__original-code', rows: 4, cols: 40, title: 'ここに綺麗にしたいCSSをペースト （未入力で下のタイプを選択すると、変換サンプルをご覧いただけます）'
  .actions
    = f.submit 'Convert 1', name: 'convert_type_1'
    = f.submit 'Convert 2', name: 'convert_type_2'
