= form_for sheet, html: { class: "SheetForm #{form_modifier}" } do |f|
  - if sheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(sheet.errors.count, "error")} prohibited this sheet from being saved:"
      %ul
        - sheet.errors.full_messages.each do |msg|
          %li= msg

  .SheetForm-textareaOuter
    = f.text_area :original_code, class: 'SheetForm-textarea', placeholder: 'ここに綺麗にしたいCSSをペースト （未入力で下のタイプを選択すると、変換サンプルをご覧いただけます）'
  .SheetForm-buttonGroup.u-cf
    = f.button name: 'convert_type_1', class: 'SheetForm-button u-fl-l' do
      = image_tag('button01.png', alt: 'しっとりリッチタイプ')
    = f.button name: 'convert_type_2', class: 'SheetForm-button u-fl-r' do
      = image_tag('button02.png', alt: '軽やかスムースタイプ')
  .SheetForm-buttonCaption
    = image_tag('button_caption.png', alt: 'しっとりリッチタイプと軽やかスムースタイプの2種類。仕上がりとノリでお選びください。')
