- if conversion_error
  .u-mb-sm
    = image_tag('created_result_ng.png')
  .u-mb-sm<>
    = image_tag('created_result_error.png')
    - if conversion_error['type'] == 1
      - for num in conversion_error['line_num'] do
        = image_tag("created_result_error_01_num#{num}.png")
      = image_tag("created_result_error_0#{conversion_error['type']}_txt.png")
    - else
      = image_tag("created_result_error_0#{conversion_error['type']}_txt.png", alt:'foo')
- else
  .u-mb-sm
    = image_tag('created_result_ok.png')
  .u-mb-sm<>
    = image_tag('created_result_type.png')
    = image_tag("created_result_type_0#{converted_sheet.converted_type}.png")
